.terraform/
*.tfstate
*.tfstate.*
*.tfplan
homolog.tfplan
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# .terraform.lock.hcl deve ser versionado (providers pinados)
